<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-------------->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <!-------------->

     <!-- Fontawesome-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" >
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"></script>
     <!-------------->

      <!-- CKEditor4-->
      <script src="https://cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script>
     <!-------------->

     <!-- Jquery DataTable-->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"> 
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
      <!-------------->
      <style>
        #wrap-sidebar {
          margin-top: -42px;
          z-index: 9999;
        }
        #wrap-content {
          margin-left: 250px;
        }
      </style>

  </head>
  <body>
    <%- include admin_header %>
  
    <div class="container-fluid" style="padding: 0;">
      <div class="row mt-5">
         
          <div class="col-md-12">
            <div  id="wrap-sidebar" class="optOpen">
                <%- include admin_sidebar %>
            </div>
            <div id="wrap-content" class="optOpen">
              <div class="container-fluid">
                <% if (index == 1) { %>
                    <%- include admin_content %>
                <% } %>

                <% if (index == 2) { %>
                    <%- include admin_about %>
                <% } %>

                <% if (index == 3) { %>
                    <%- include admin_listarticle %>
                <% } %>

                <% if (index == 4) { %>
                  <%- include admin_schedule %>
              <% } %>

              <% if (index == 5) { %>
                <%- include admin_viewrecord %>
            <% } %>


              <% if (index == 6) { %>
                <%- include admin_guest %>
            <% } %>
              </div>              
            </div>            
          </div>
    </div>
    </div>
  </body>
  <script>
    $("#optbt").click(function(event) { 
          container_opt = $("#wrap-sidebar");
          content_panel = $("#wrap-content");       
          if(content_panel.hasClass('optOpen'))
          {
              container_opt.animate({ marginLeft:'-250px' }, 200, 'swing').removeClass('optOpen');
              content_panel.animate({ marginLeft:'0px' }, 200, 'swing').removeClass('optOpen');
          }
          else
          {
              container_opt.animate({ marginLeft:'0px' }, 200, 'swing').addClass('optOpen');
              content_panel.animate({ marginLeft:'250px' }, 200, 'swing').addClass('optOpen');
          }
      });

  </script>
</html>

