<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-------------->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <!-------------->

     <!-- Bootstrap-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" >
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"></script>
     <!-------------->


  </head>
  <body>
    <%- include header %>
    <div class="container">
      <div class="row mt-5">
          <div class="col-md-9">
            <%- include content %>
          </div>
          <div class="col-md-3">
            <%- include sidebar %>
          </div>
        </div>
    </div>
    
    <%- include footer %>
  </body>
</html>


<script>


 //let url = location.href; 
 //let arr;
 //let key;
 //let value;
 if(url.indexOf('?')!=-1)
 { 
    
    arr=url.split('?')[1];
    key=arr.split('=')[0];
    value=arr.split('=')[1];
}



let val=decodeURIComponent(value);
console.log(val);
setTimeout(function(){   $.ajax({ 
        url: '/articlecatelist',
        type: 'GET',
        data:{category:val},
        cache: false, 
        success: function(result){
         // alert('Success!'+data.result.code);
         console.log(result);
         let str="";
         result.data.forEach(element => {
          var imgattr=element.img_name;
           str+= '<div class="row">'+
                  '<div class="col-md-9">'+
                      '<h5 style="padding: 10px 15px;" class="article-list-title"><a class="article-list-item"'+ 'href='+"/article?q="+element.id+'>'+element.title+'</a></h5><div class="p_con">'+
                      element.content+
                      '</div><button type="button"  class="btn btn-primary btn-sm ml-3 mb-3 tagformat float-left"><i class="fas fa-tag"></i>'+ element.category+'</button>'+
                      '<p class="float-left ml-3 mt-1 text-secondary"><i class="fas fa-user"></i>  '+ element.author+'</p>'+
                      '<p class="float-left ml-3 mt-1 text-secondary"><i class="fas fa-eye"></i>  '+ element.views+'</p>'+
                      '<p class="float-left ml-3 mt-1 text-secondary"><i class="far fa-calendar-alt"></i> '+ formatDateTime(new Date(element.createdate))+'</p>'+
                  '</div>'+
                  '<div class="col-md-3 pl-0">'+
                    '<img class="figure-img img-fluid rounded mt-4 pr-3" id="coverimg" src="data:image/'+ imgattr.split('.')[1]+';base64,'+element.img+'">'+
                  '</div>'+  
                '</div>'+
                '<hr>'
         });
           
         $("#listarticle").html(str);


        }, 
        error: function(jqXHR, textStatus, err){
          alert('text status '+textStatus+', err '+err);
        }
      });

}, 200);



</script>
